<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<Properties>
		<Property name="maxLogFile">9</Property>
		<Property name="logFileName">${ctx:logLocation}</Property>
	</Properties>
	 <ThresholdFilter level="debug"/>
	<!-- Define custom levels before using them for filtering below. -->
	<CustomLevels>
		<CustomLevel name="PASS" intLevel="350" />
	</CustomLevels>
	<Appenders>
		<Console name="STDOUT">
			<PatternLayout pattern="%m%n" />
		</Console>
		<Routing name="RoutingLogger">
			<Routes pattern="$${logFileName}">
				<Route>
					<RollingFile name="fileLogger"
						fileName="${logFileName}/TestLog.log"
						filePattern="${logFileName}/TestLog%i.log">
						<PatternLayout>
							<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
						</PatternLayout>
						<Policies>
							<OnStartupTriggeringPolicy />
							<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true"/> -->
							<SizeBasedTriggeringPolicy size="1 MB" />
						</Policies>
						<DefaultRolloverStrategy
							max="${maxLogFile}" fileIndex="min">
							<Delete basePath="./">
								<IfFileName glob="*.log" />
								<IfAccumulatedFileCount
									exceeds="${maxLogFile}" />
							</Delete>
						</DefaultRolloverStrategy>
					</RollingFile>
				</Route>
				<Route ref="STDOUT" key="Audit" />
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RoutingLogger" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>

</Configuration>